.App {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.App-button {
  margin: 1ch;
  padding-left: 2ch;
  padding-right: 2ch;  
}

.App-text {
  text-align: center;
}
