* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: darkslategray;
  padding: 1ch;
}

.App {
  background-color: white;
  padding: 1ch;
  display: flex;
  flex-flow: column;
  width: fit-content;
  border-radius: 0.8ch;
}

.App-button-list, .App-statistics-list {
  list-style: none;
  padding-left:0;
}

.App-button-list {
  display: flex;
  flex-flow: row;
}

.App-button-list li{
  margin-right: 1ch;
}

.App-header {
  margin: 1ch;
  margin-left: 0;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.App-button {
  padding: 0.5ch;
  padding-left: 1ch;
  padding-right: 1ch;
  font-weight: bold;
}
